.DS_Store
/data/.DS_Store
/doc/.DS_Store
/figs/.DS_Store
/lib/.DS_Store
/output/.DS_Store
/output/*.RData
/data/train_set/*.csv
/doc/main.nb.html
/data/test_set/GBM_Baseline/HR/*.jpg
/data/test_set/GBM_Baseline/LR/*.jpg
/data/train_set/HR/*.jpg
/data/train_set/LR/*.jpg
/data/*.RData
/doc/.Rhistory
